<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MHFZ_Overlay.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MHFZ_Overlay.Settings>
            <setting name="EnableDamageNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRoadOverride" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlwaysShowMonsterInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster1BarColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="Monster2BarColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="Monster3BarColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="Monster4BarColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="MonsterPoisonBarColor" serializeAs="String">
                <value>#cba6f7</value>
            </setting>
            <setting name="MonsterBlastBarColor" serializeAs="String">
                <value>#fab387</value>
            </setting>
            <setting name="MonsterSleepBarColor" serializeAs="String">
                <value>#74c7ec</value>
            </setting>
            <setting name="MonsterParaBarColor" serializeAs="String">
                <value>#f9e2af</value>
            </setting>
            <setting name="MonsterStunBarColor" serializeAs="String">
                <value>#7f849c</value>
            </setting>
            <setting name="HPBackGroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="TextBackGroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>#f5e0dc</value>
            </setting>
            <setting name="HealthBarsX" serializeAs="String">
                <value>840</value>
            </setting>
            <setting name="HealthBarsY" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="HealthBarsShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerInfoX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PlayerInfoY" serializeAs="String">
                <value>358</value>
            </setting>
            <setting name="PlayerInfoShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterStatusInfoX" serializeAs="String">
                <value>1087</value>
            </setting>
            <setting name="MonsterStatusInfoY" serializeAs="String">
                <value>207</value>
            </setting>
            <setting name="MonsterStatusInfoShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="EnableDamageNumbersMulticolor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableEHPNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableRichPresence" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscordClientID" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="DiscordServerInvite" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="EnableCurrentHPPercentage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTimeLeftPercentage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DamageNumbersColor" serializeAs="String">
                <value>#fffab387</value>
            </setting>
            <setting name="EnableSharpness" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SharpnessInfoX" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="SharpnessInfoY" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="PartHealthBarsShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster1PartX" serializeAs="String">
                <value>883</value>
            </setting>
            <setting name="Monster1PartY" serializeAs="String">
                <value>422</value>
            </setting>
            <setting name="AlwaysShowPlayerInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSharpnessPercentage" serializeAs="String">
                <value>True</value>
            </setting>
        </MHFZ_Overlay.Settings>
    </userSettings>
</configuration>