<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MHFZ_Overlay.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MHFZ_Overlay.Settings>
            <setting name="EnableDamageNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRoadOverride" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlwaysShowMonsterInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster1BarColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="Monster2BarColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="Monster3BarColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="Monster4BarColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="MonsterPoisonBarColor" serializeAs="String">
                <value>#cba6f7</value>
            </setting>
            <setting name="MonsterBlastBarColor" serializeAs="String">
                <value>#fab387</value>
            </setting>
            <setting name="MonsterSleepBarColor" serializeAs="String">
                <value>#74c7ec</value>
            </setting>
            <setting name="MonsterParaBarColor" serializeAs="String">
                <value>#f9e2af</value>
            </setting>
            <setting name="MonsterStunBarColor" serializeAs="String">
                <value>#7f849c</value>
            </setting>
            <setting name="HPBackGroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="TextBackGroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>#f5e0dc</value>
            </setting>
            <setting name="HealthBarsX" serializeAs="String">
                <value>831</value>
            </setting>
            <setting name="HealthBarsY" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="HealthBarsShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerInfoX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PlayerInfoY" serializeAs="String">
                <value>358</value>
            </setting>
            <setting name="PlayerInfoShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterStatusInfoX" serializeAs="String">
                <value>1087</value>
            </setting>
            <setting name="MonsterStatusInfoY" serializeAs="String">
                <value>188</value>
            </setting>
            <setting name="MonsterStatusInfoShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="EnableDamageNumbersMulticolor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableEHPNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableRichPresence" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscordClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscordServerInvite" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableCurrentHPPercentage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTimeLeftPercentage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DamageNumbersColor" serializeAs="String">
                <value>#fffab387</value>
            </setting>
            <setting name="EnableSharpness" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SharpnessInfoX" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="SharpnessInfoY" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="PartHealthBarsShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster1PartX" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Monster1PartY" serializeAs="String">
                <value>685</value>
            </setting>
            <setting name="AlwaysShowPlayerInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSharpnessPercentage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HunterName" serializeAs="String">
                <value>HunterName</value>
            </setting>
            <setting name="GuildName" serializeAs="String">
                <value>GuildName</value>
            </setting>
            <setting name="TimerInfoShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimerX" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="TimerY" serializeAs="String">
                <value>560</value>
            </setting>
            <setting name="HitCountShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HitCountX" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="HitCountY" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="PlayerAtkShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerAtkX" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PlayerAtkY" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="TimerMode" serializeAs="String">
                <value>Time Left</value>
            </setting>
            <setting name="MonsterAtkMultShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterAtkMultX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterAtkMultY" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MonsterDefrateShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterDefrateX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterDefrateY" serializeAs="String">
                <value>230</value>
            </setting>
            <setting name="MonsterSizeShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterSizeX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterSizeY" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="MonsterPoisonShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterPoisonX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterPoisonY" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MonsterSleepShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterSleepX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterSleepY" serializeAs="String">
                <value>330</value>
            </setting>
            <setting name="MonsterParaShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterParaX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterParaY" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="MonsterBlastShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterBlastX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterBlastY" serializeAs="String">
                <value>390</value>
            </setting>
            <setting name="MonsterStunShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterStunX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterStunY" serializeAs="String">
                <value>420</value>
            </setting>
            <setting name="DamageNumbersX" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="DamageNumbersY" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="DamageNumbersAreaWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="DamageNumbersAreaHeight" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="EnableHighestAtkColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster1IconShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster1IconX" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Monster1IconY" serializeAs="String">
                <value>470</value>
            </setting>
            <setting name="DiscordTimerMode" serializeAs="String">
                <value>Time Left</value>
            </setting>
        </MHFZ_Overlay.Settings>
    </userSettings>
</configuration>