<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MHFZ_Overlay.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MHFZ_Overlay.Settings>
            <setting name="EnableDamageNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRoadOverride" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlwaysShowMonsterInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster1BarColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="Monster2BarColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="Monster3BarColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="Monster4BarColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="MonsterPoisonBarColor" serializeAs="String">
                <value>#cba6f7</value>
            </setting>
            <setting name="MonsterBlastBarColor" serializeAs="String">
                <value>#a6e3a1</value>
            </setting>
            <setting name="MonsterSleepBarColor" serializeAs="String">
                <value>#74c7ec</value>
            </setting>
            <setting name="MonsterParaBarColor" serializeAs="String">
                <value>#f9e2af</value>
            </setting>
            <setting name="MonsterStunBarColor" serializeAs="String">
                <value>#7f849c</value>
            </setting>
            <setting name="HPBackGroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="TextBackGroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>#f5e0dc</value>
            </setting>
            <setting name="MonsterStatusInfoX" serializeAs="String">
                <value>1087</value>
            </setting>
            <setting name="MonsterStatusInfoY" serializeAs="String">
                <value>188</value>
            </setting>
            <setting name="MonsterStatusInfoShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="EnableDamageNumbersMulticolor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableEHPNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableRichPresence" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscordClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscordServerInvite" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableCurrentHPPercentage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTimeLeftPercentage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DamageNumbersColor" serializeAs="String">
                <value>#fffab387</value>
            </setting>
            <setting name="EnableSharpness" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SharpnessInfoX" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="SharpnessInfoY" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="PartThresholdShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster1PartX" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Monster1PartY" serializeAs="String">
                <value>685</value>
            </setting>
            <setting name="AlwaysShowPlayerInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSharpnessPercentage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HunterName" serializeAs="String">
                <value>HunterName</value>
            </setting>
            <setting name="GuildName" serializeAs="String">
                <value>GuildName</value>
            </setting>
            <setting name="TimerInfoShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimerX" serializeAs="String">
                <value>-80</value>
            </setting>
            <setting name="TimerY" serializeAs="String">
                <value>440</value>
            </setting>
            <setting name="HitCountShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HitCountX" serializeAs="String">
                <value>-80</value>
            </setting>
            <setting name="HitCountY" serializeAs="String">
                <value>560</value>
            </setting>
            <setting name="PlayerAtkShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerAtkX" serializeAs="String">
                <value>-80</value>
            </setting>
            <setting name="PlayerAtkY" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="TimerMode" serializeAs="String">
                <value>Time Left</value>
            </setting>
            <setting name="MonsterAtkMultShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterAtkMultX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterAtkMultY" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MonsterDefrateShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterDefrateX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterDefrateY" serializeAs="String">
                <value>230</value>
            </setting>
            <setting name="MonsterSizeShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterSizeX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterSizeY" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="MonsterPoisonShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterPoisonX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterPoisonY" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MonsterSleepShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterSleepX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterSleepY" serializeAs="String">
                <value>330</value>
            </setting>
            <setting name="MonsterParaShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterParaX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterParaY" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="MonsterBlastShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterBlastX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterBlastY" serializeAs="String">
                <value>390</value>
            </setting>
            <setting name="MonsterStunShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterStunX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterStunY" serializeAs="String">
                <value>420</value>
            </setting>
            <setting name="DamageNumbersX" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="DamageNumbersY" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="DamageNumbersAreaWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="DamageNumbersAreaHeight" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="EnableHighestAtkColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster1IconShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster1IconX" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Monster1IconY" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="DiscordTimerMode" serializeAs="String">
                <value>Time Left</value>
            </setting>
            <setting name="DiscordRoadTimerReset" serializeAs="String">
                <value>Never</value>
            </setting>
            <setting name="DiscordQuestNameShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiscordArmorSetShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCaravanOverride" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="EnableCaravanScore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster1HealthBarShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster1HealthBarX" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Monster1HealthBarY" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Monster2HealthBarShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster2HealthBarX" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Monster2HealthBarY" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Monster3HealthBarShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster3HealthBarX" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Monster3HealthBarY" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Monster4HealthBarShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster4HealthBarX" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Monster4HealthBarY" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="TextFormatExport" serializeAs="String">
                <value>Image</value>
            </setting>
            <setting name="GenderExport" serializeAs="String">
                <value>Male</value>
            </setting>
            <setting name="GouBoostExport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GSRUnlocksExport" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="Enable11GSR999" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableMetadataExport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GearDescriptionExport" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapAreaWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MapAreaHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MapX" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MapY" serializeAs="String">
                <value>410</value>
            </setting>
            <setting name="ArmorSkillsInfo" serializeAs="String">
                <value>Priority</value>
            </setting>
            <setting name="MotionValuesInfo" serializeAs="String">
                <value>Sword and Shield</value>
            </setting>
            <setting name="WeaponTypeInfo" serializeAs="String">
                <value>Element/Status/Bloat</value>
            </setting>
            <setting name="GuildOptionInfo" serializeAs="String">
                <value>About</value>
            </setting>
            <setting name="CaravanOptionInfo" serializeAs="String">
                <value>About</value>
            </setting>
            <setting name="CompanionOptionInfo" serializeAs="String">
                <value>Partner</value>
            </setting>
            <setting name="GuildCardBackground" serializeAs="String">
                <value>Ashen Lao-Shan Lung</value>
            </setting>
            <setting name="EnableUpdateNotifier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FeriasVersionLink" serializeAs="String">
                <value>https://dorielrivalet.github.io/mhfz-ferias-english-project/</value>
            </setting>
            <setting name="MaxFaintsOverride" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="EnableAutoClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDamageMeter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DamageMeterBackGroundColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="DamagerMeter1PColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="DamageMeter2PColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="DamageMeter3PColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="DamageMeter4PColor" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="DamageMeterMode" serializeAs="String">
                <value>Total Damage</value>
            </setting>
            <setting name="FrameCounterShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrameCounterX" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="FrameCounterY" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="PlayerAttackGraphShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerAttackGraphX" serializeAs="String">
                <value>740</value>
            </setting>
            <setting name="PlayerAttackGraphY" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="EnableQuestLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayerDPSX" serializeAs="String">
                <value>-80</value>
            </setting>
            <setting name="PlayerDPSY" serializeAs="String">
                <value>520</value>
            </setting>
            <setting name="EnableHighestDPSColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiscordServerID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerNationalityIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DamagePerSecondShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProgressBarIconsShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayStatIconShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterPartsIconShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHighestMonsterAttackMultiplierColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableLowestMonsterDefrateColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDamageNumbersSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDamageNumbersFlash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableQuestPaceColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAverageHitsPerSecondColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HitsPerSecondShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TotalHitsTakenBlockedShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TotalHitsTakenBlockedPerSecondShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTotalHitsTakenBlockedColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TotalHitsTakenBlockedX" serializeAs="String">
                <value>-80</value>
            </setting>
            <setting name="TotalHitsTakenBlockedY" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="KBMLayoutShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KBMLayoutX" serializeAs="String">
                <value>820</value>
            </setting>
            <setting name="KBMLayoutY" serializeAs="String">
                <value>610</value>
            </setting>
            <setting name="ControllerLayoutShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ControllerLayoutX" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="ControllerLayoutY" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="EnableKeyLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxResolutionWidth" serializeAs="String">
                <value>3840</value>
            </setting>
            <setting name="MaxResolutionHeight" serializeAs="String">
                <value>2160</value>
            </setting>
            <setting name="ActionsPerMinuteShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActionsPerMinuteX" serializeAs="String">
                <value>-80</value>
            </setting>
            <setting name="ActionsPerMinuteY" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="EnableAverageActionsPerMinuteColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerInputHorizontalGridShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerInputHorizontalGridX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PlayerInputHorizontalGridY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PlayerInputVerticalGridShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerInputVerticalGridX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerInputVerticalGridY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Monster1OverviewShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster1OverviewX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Monster1OverviewY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Monster2OverviewShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster2OverviewX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Monster2OverviewY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Monster3OverviewShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster3OverviewX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Monster3OverviewY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Monster4OverviewShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster4OverviewX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Monster4OverviewY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlayModeWatermarkShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayModeWatermarkX" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="OverlayModeWatermarkY" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="QuestIDShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuestIDX" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="QuestIDY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="EnableMonsterRenders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableMonsterHPBarsAutomaticColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster1BarStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="Monster2BarStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="Monster3BarStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="Monster4BarStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="MonsterPoisonStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="MonsterSleepStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="MonsterParaStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="MonsterBlastStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="MonsterStunStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="PlayerDPSGraphShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerDPSGraphX" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PlayerDPSGraphY" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="PlayerHitsPerSecondGraphShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerHitsPerSecondGraphX" serializeAs="String">
                <value>430</value>
            </setting>
            <setting name="PlayerHitsPerSecondGraphY" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PlayerAPMGraphShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerAPMGraphX" serializeAs="String">
                <value>510</value>
            </setting>
            <setting name="PlayerAPMGraphY" serializeAs="String">
                <value>530</value>
            </setting>
            <setting name="PlayerAttackGraphColor" serializeAs="String">
                <value>#a6e3a1</value>
            </setting>
            <setting name="PlayerAttackGraphBackground" serializeAs="String">
                <value>#001e1e2e</value>
            </setting>
            <setting name="PlayerDPSGraphColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="PlayerDPSGraphBackground" serializeAs="String">
                <value>#001e1e2e</value>
            </setting>
            <setting name="PlayerHitsPerSecondGraphColor" serializeAs="String">
                <value>#f9e2af</value>
            </setting>
            <setting name="PlayerHitsPerSecondGraphBackground" serializeAs="String">
                <value>#001e1e2e</value>
            </setting>
            <setting name="PlayerAPMGraphColor" serializeAs="String">
                <value>#cba6f7</value>
            </setting>
            <setting name="PlayerAPMGraphBackground" serializeAs="String">
                <value>#001e1e2e</value>
            </setting>
        </MHFZ_Overlay.Settings>
    </userSettings>
</configuration>